@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(15deg);
  }
}

button {
  width: 50%;
  height: 100px;
}
button:hover {
  background-color: red;
  font-size: 2em;
  transition-property: all;
  transition-duration: 2s;
  /* transition-delay: 1s; */
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: 2s linear 0s infinite spin;
}

