.container {
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr;
  /* grid-template-areas:
    "a a a"
    "b c c"
    "d d e"; */
  /* align-items: stretch;
  justify-items: stretch; */
  /* grid-auto-flow: column; */
}
.card {
  align-items: center;
  border: 1px solid blue;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  height:fit-content;
  width: fit-content;
}
.card img {
  border: 2px solid white;
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  /* width: min(100vw, 300px); */
}
/* .a {
  grid-area: a;
}
.b {
  grid-area: b;
}
.c {
  grid-area: c;
}
.d {
  grid-area: d;
}
.e {
  grid-area: e;
} */
.d {
  align-self: center;
  justify-self: center;
}